/IcecreamCount/build/
.DS_Store
/GravityCalculator/dist/
/PayrollSystem/nbproject/private/
/PayrollSystem/dist/
/PayrollSystem/build/
/StatCalc/nbproject/private/
/StatCalc/build/
/Superheros/nbproject/private/
/chess/nbproject/private/
/chess/build/
/MatchBox/nbproject/private/
/MatchBox/build/
/MatrixDiagonal/nbproject/private/
/MatrixDiagonal/build/